# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6

print (number)

6

##### Assinging float

In [5]:
numberFloat = 2.14

print (numberFloat)

2.14

#### Performing Calculations on ints and floats

##### Addition

In [15]:
num1 = 8

num2 = 2

result = num1 + num2

print (result)

10

##### Subtraction

In [17]:
result_diff = num1 - num2


print (result)

6

##### Multiplication

In [20]:
result_mul = num1 * num2

print (result_mul)

16

##### Division

In [21]:
result_div = num1 / num2

print (result_div)

4.0

##### Floor Division

In [22]:
result_fldiv = num1 // num2

print (result_fldiv)

4

##### Modulo

In [25]:
result_mod = num1 % num2

print (result_mod)

0

##### Exponential

In [24]:
result_expon = num1 ** num2

print (result_expon)

64

### String Input-Output

##### String Assignment

In [26]:
name = "olu"

print(name)

olu

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print ("olu the programmer: ", name)

print ("Full name: ", name, end="jegs")

olu the programmer:  olu
Full name:  olujegs

##### String Concatenation

In [29]:
first_name = "Olu"
last_name = "Jegs"

full_name = first_name + " " + last_name

print(full_name)

Olu Jegs

##### Type Conversion

In [30]:
number = "32"
change_type_num = int(number)
change_type_num += 5
print(change_type_num)
print(number)

37
32

##### input()

In [31]:
#input() will Always return a string ALL THE TIME

name = input(" what is your name? ")
print(name)

 what is your name? olu
olu

##### format()

In [41]:
age = input ('what is yopur age?')
name = input ('what is your name?')

result_string = "you are {}, you are {} years old and you are getting wiser" .format (name, age)
print(result_string)

what is yopur age?50
what is your name?olu
you are olu, you are 50 years old and you are getting wiser

##### Old Way (python 2)

In [43]:
result_string2 = "you are %s you are look great for your age"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [44]:
color = input("Enter color: ")
year = input("Enter year: ")
make = input("Enter make: ")
model = input("Enter model: ")
print("Color: {}, Year: {}, Make: {}, Model: {}".format(color, year, make, model))

Enter color: grey
Enter year: 2019
Enter make: GMC
Enter model: Acadia
Color: grey, Year: 2019, Make: GMC, Model: Acadia

### If Statements

In [47]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

num1 = 5
num2 = 10

if num1 == num2:
    print("Equal values")
else:
    print("Not equal")
    
if num2 > num1 :
    print("Num2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They're the same")

Not equal
Num2 is greater than

##### 'is' keyword

In [48]:
num3 = 55
num4 = num3

if num3 is num4:
    print('This is the same type or similar object')

This is the same type or similar object

##### 'in' keyword

In [49]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [51]:
sega_char = "sonic"

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [45]:
user_input = input("Enter something: ")
if 'p' in user_input:
    print("The letter 'p' is in the input.")

Enter something: olu is a boy

## Using 'and'/'or' with If Statements

In [53]:
first_name = "Max"
age = 11

if first_name == "Max" or age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" and age ==10:
    print("I am either Max or I am 10")

I am Max and I am 10

### Elif Statements

In [55]:
if first_name == "Max" or age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" and age ==10:
    print("I am either Max or I am 10")

I am Max and I am 10

### Else Statements

In [ ]:
# see above

### For Loops

In [5]:
# for items in iterable_things
    # do some stufss
    
name = "Brandon Apol is the greatest"

# for letter in name:
    # print(letter)
    
for letter in range (10):
    print(letter)

0
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [6]:
for letter in range (10):
    print(letter)

0
1
2
3
4
5
6
7
8
9

##### Continue Statement

In [7]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [66]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [70]:
for i in range(5):
    for j in range(5):
        print("i = ", "j =" , j)

i =  j = 0
i =  j = 1
i =  j = 2
i =  j = 3
i =  j = 4
i =  j = 0
i =  j = 1
i =  j = 2
i =  j = 3
i =  j = 4
i =  j = 0
i =  j = 1
i =  j = 2
i =  j = 3
i =  j = 4
i =  j = 0
i =  j = 1
i =  j = 2
i =  j = 3
i =  j = 4
i =  j = 0
i =  j = 1
i =  j = 2
i =  j = 3
i =  j = 4

### While Loops

In [11]:
# while condition statement (something that is true or false):
     # do some stuff repeatedly

num = 0
while True:
    if num >= 10:
        break
    print (num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [20]:
game_running = True 
score = 0

while game_running:
    user_input = input ("say some stuffs")
    if user_input == "quit":
        game_running = False
    print(user_input)
    score += 1
    print (f"score: {score}")
    game_over = False

say some stuffssome stuff
some stuff
score: 1
say some stuffsmore stuffs
more stuffs
score: 2
say some stuffsquit
quit
score: 3

##### While & For Loops Used Together

In [27]:

while num <= 5:
    print("\n while Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    num += 1

### Built-In Functions

##### range()

In [26]:
# range(start, stop, step)
#defaults: start = 0, stop IS REQUIRED =, step = 1
for i in range(5, 20, 5):
    print (i)

5
10
15

##### len()

In [28]:
name = "Max"

length = len(name)
print (length)

3

##### help()

In [29]:
help (range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [30]:
print(isinstance(4.5,int))
if isinstance(4.5, float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [31]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [34]:
# Use this whenever you excpect to encounter a bug so that the error doesnt cause the program to stop 
# use this to log out graceful and informative error messages

try:
    number_test = 0
    input_num = int(input("Guess a number "))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("That did not work - Error: Please change your input to a number")

Guess a number 5
Your number is: 5

### Lists

##### Declaring Lists

In [35]:
my_list = [] # empty list

names = ["Max", 'Cindy', 'Olu', 5, 'Nate']

print (names)

['Max', 'Cindy', 'Olu', 5, 'Nate']

##### Indexing a List

In [36]:
# single index
print (names[0])

# print the last value NO MATTER THE SIZE OF THE LIST
print(names[-1])

# print starting at 1 going to the end
print(names[1:])

# print starting at beginning of list until the whatever index we give it
print(names[:3])

# print from one index to another
print(names[2:4])

# print starting at index one going up by 2 for each iteration
print(names[1::2])

# print starting at the end and going down by 1 each time
print(names[::-1])

Max
Nate
['Cindy', 'Olu', 5, 'Nate']
['Max', 'Cindy', 'Olu']
['Olu', 5]
['Cindy', 5]
['Nate', 5, 'Olu', 'Cindy', 'Max']

##### .append()

In [37]:
names.append("bob")
print(names)

['Max', 'Cindy', 'Olu', 5, 'Nate', 'bob']

##### .insert()

In [38]:
names.insert(3, "Gaby")
print(names)

['Max', 'Cindy', 'Olu', 'Gaby', 5, 'Nate', 'bob']

##### .pop()

In [39]:
# defaults is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

my_name = names.pop(3)
print(my_name)
print(names)

Gaby
['Max', 'Cindy', 'Olu', 5, 'Nate', 'bob']


##### .remove()

In [41]:
# Value to be removed, not the index
# names.remove('bob')
# print(names)

# remove multiple bobs from the list
while "bob" in names:
    names.remove("bob")
print(names)

['Max', 'Cindy', 'Olu', 5, 'Nate']

##### del()

In [42]:
# be careful, it can cause indexing errors if used improperly
#remove by index

del(names[1])
print(names)

['Max', 'Olu', 5, 'Nate']

##### Concatenating Two Lists

In [43]:
first_list = [0, 1, 2]
second_list = [3, 4, 5]

big_list = first_list + second_list
print(big_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [44]:
names = ["Max", "Sam", "Josh", ['Sally', 'Sue', "Tameka", "John"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka', 'John']]
Sue

##### Looping Through Lists

In [49]:
# two ways to loop through a list, one is by index, the other is by using 'in' keyboard

# with a for loop using the index
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop and in 
for name in names:
    print(name)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka', 'John']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka', 'John']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
for i in range(1, 100):
    cube = i**3
    if cube > 1000:
        break
    print(f"The cube of {i} is {cube}")

The cube of 1 is 1
The cube of 2 is 8
The cube of 3 is 27
The cube of 4 is 64
The cube of 5 is 125
The cube of 6 is 216
The cube of 7 is 343
The cube of 8 is 512
The cube of 9 is 729
The cube of 10 is 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [4]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(2, 101):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [3]:
age = int(input("Please enter your age: "))
if age < 34:
    print("kids")
elif 18 <= age <= 65:
    print("adults")
else:
    print("seniors")

Please enter your age: 30
kids